@using EducationHub.Web.ViewModels.Forum.Home
@using EducationHub.Web.ViewModels.Forum.Posts
@model PagingPostsViewModel

@{
    ViewData["Title"] = "By Catagory";
}

@if (Model.Posts.Any())
{
    <section class="row">
        @foreach (var post in Model.Posts)
        {
            <article class="collection-item">
                <div class="head-post post-by-category">
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id"><h6 class="center white-text">@post.Title</h6></a>
                    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId">
                        <img src="@post.UserPictureUrl" class="circle" height="50">
                    </a>
                    <div class="col margin center">
                        <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId" class="white-text">@post.UserUserName</a>
                    </div>
                    <p class="right">
                        <i class="material-icons left white-text">event_note</i><time datetime="@post.CreatedOn.ToStringLocal()" class="white-text"></time>
                    </p>
                </div>
            </article>
        }
    </section>
}
else
{
    <div class="">
        <h4 class="green-text center">There are no posts yet.</h4>
    </div>
}

@if (this.Model.ItemsCount > this.Model.ItemsPerPage)
{
    <ul class="pagination center">
        @if (Model.PagesCount > 4)
        {
            <li>
                <a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="1"><i class="fas fa-angle-double-left"></i></a>
            </li>
        }
        <li class="@if (!Model.HasPreviousPage) {<text>disabled</text>}">
            <a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="@Model.PreviousPageNumber"><i class="material-icons">chevron_left</i></a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="waves-effect"><a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="waves-effect green lighten-2 active">
            <a>
                @Model.PageNumber
            </a>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="waves-effect"><a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="waves-effect @if (!Model.HasNextPage) {<text>disabled</text>}">
            <a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="@Model.NextPageNumber"><i class="material-icons">chevron_right</i></a>
        </li>
        @if (Model.PagesCount > 4)
        {
            <li>
                <a asp-action="ByCategory" asp-route-id="@Model.CategoryId" asp-route-page="@Model.PagesCount"><i class="fas fa-angle-double-right"></i></a>
            </li>
        }
    </ul>
}
