@using EducationHub.Web.ViewModels.Forum.Home
@model IEnumerable<HomePagePostViewModel>

@{
    ViewData["Title"] = "By Catagory";
}

@if (Model.Any())
{
    <section class="row">
        @foreach (var post in Model)
        {
            <article class="collection-item">
                <div class="head-post post-by-category">
                    <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id"><h6 class="center white-text">@post.Title</h6></a>
                    <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId">
                        <img src="@post.UserPictureUrl" class="circle" height="50">
                    </a>
                    <div class="col margin center">
                        <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId" class="white-text">@post.UserUserName</a>
                    </div>
                    <p class="right">
                        <i class="material-icons left white-text">event_note</i><time datetime="@post.CreatedOn.ToStringLocal()" class="white-text"></time>
                    </p>
                </div>
            </article>
        }
    </section>
}
else
{
    <div class="">
        <h4 class="green-text center">There are no posts yet.</h4>
    </div>
}

