@using static EducationHub.Data.Common.Validations.DataValidation.Post
@model EducationHub.Web.ViewModels.Forum.CreatePostViewModel
@{
    ViewData["Title"] = "Create Post";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<partial name="_TinyMCEPartial" />

<div class="row">
    <div class="col center offset-l3">
        <form method="post">
            <div class="center red-text" asp-validation-summary="All"></div>
            <div class="input-field">
                <select asp-for="CategoryId" class="icons">
                    @foreach (var item in Model.CategoriesItems)
                    {
                        <option value="@item.Id" data-icon="@item.PictureUrl">@item.Name</option>
                    }
                </select>
                <label asp-for="CategoryId"></label>
            </div>
            <div class="input-field">
                <input asp-for="Title" class="validate character-counter" data-length="@TitleMaxLength">
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="red-text center"></span>
            </div>
            <div class="input">
                <label asp-for="Content"></label>
                <textarea asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="red-text center"></span>
            </div>
            <div>
                <button type="submit" class="btn waves-effect waves-light lighten-2 light-green">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/charactersCounter.js"></script>
    <script src="~/js/categoryDropDawn.js"></script>
}