@page
@using static EducationHub.Data.Common.Validations.DataValidation.User;
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4 class="center light-green-text lighten-2">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col s6 center offset-s3">
        <img class="responsive-img" src="@Model.PictureUrl" width="400" alt="User picture" />
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="class=center red-text"></div>
            <div class="input-field">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" data-length="@UsernameMaxLenght" class="center light-green-text lighten-2 character-counter" value="@Model.Username" />
                <span asp-validation-for="Input.Username" class="red-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="center light-green-text lighten-2" />
                <span asp-validation-for="Input.PhoneNumber" class="red-text"></span>
            </div>
            <div class="input-field">
                <input asp-for="Input.PictureUrl" data-length="@PictureUrlMaxLength" value="@Model.PictureUrl" class="character-counter">
                <label asp-for="Input.PictureUrl"></label>
                <span asp-validation-for="Input.PictureUrl" class="red-text"></span>
            </div>
            <div id="UploadImageInput" class="file-field input-field col s12  l6 offset-l3" hidden>
                <div class="btn btn-small">
                    <span>Image<i class="material-icons right">cloud_upload</i></span>
                    <input asp-for="Input.Image" accept="image/*">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="col s6 l6 center">
                <a class='dropdown-trigger btn btn-small' href='#' data-target='dropdown1'>Picture!</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a id="PictureURL" href="#!">Picture URL</a></li>
                    <li><a id="UploadImage" href="#!"><i class="material-icons">cloud</i>Upload Picture</a></li>
                </ul>
            </div>
            <div class="col">
                <button id="update-profile-button" type="submit" class="btn waves-effect waves-light light-green lighten-2">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/imagePicker.js"></script>
    <script src="~/js/charactersCounter.js"></script>
}