@using EducationHub.Web.ViewModels.Administration.Categories
@model IEnumerable<CategoryAdminViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<p class="center">
    <a class="btn btn-small" asp-action="Create">Create New</a>
</p>
<table class="responsive-table striped centered highlight light-green lighten-2">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Picture
            </th>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>
                <td>
                    <img class="responsive-img" src="@category.PictureUrl" width="100" asp-append-version="true">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => category.UserUserName)
                </td>
                <td>
                    @if (category.IsDeleted == false)
                    {
                        @:No
                    }
                    else
                    {
                        @:Yes
                    }
                </td>
                <td>
                    @if (category.DeletedOn == null)
                    {
                        <span>No record</span>
                    }
                    else
                    {
                        <time datetime="@category.DeletedOn.ToStringLocal()"></time>
                    }
                </td>
                <td>
                    <time datetime=" @category.CreatedOn.ToStringLocal()"></time>
                <td>
                    @if (category.ModifiedOn == null)
                    {
                        @:No record
                    }
                    else
                    {
                    <time datetime="@category.ModifiedOn.ToStringLocal()"></time>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn-small blue waves-effect waves-light">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn-small red waves-effect waves-light">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
