@using EducationHub.Common
@model EducationHub.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="center light-green-text lighten-2 flow-text">
    <h1>Welcome to @GlobalConstants.SystemName!</h1>
    <h3>Knowledge sharing platform.</h3>
    @if (@Model.CoursesCount > 1)
    {
        <h4>Here you will find <button class="btn-floating pulse waves-effect waves-light light-green center">@Model.CoursesCount</button> courses.</h4>
    }
    else
    {
        <h4>Here you will find <button class="btn-floating pulse waves-effect waves-light light-green center">@Model.CoursesCount</button> course.</h4>
    }
    @if (@Model.LessonsCount > 1)
    {
        <h4><button class="btn-floating pulse waves-effect waves-light light-green darken-1 center">@Model.LessonsCount</button> Lessons that are not related to a course.</h4>
    }
    else
    {
        <h4><button class="btn-floating pulse waves-effect waves-light light-green darken-1 center">@Model.LessonsCount</button> A lesson that is not related to a course.</h4>
    }
    <h4>In <button class="btn-floating pulse waves-effect waves-light light-green darken-2 center">@Model.CategoriesCount</button> categories.</h4>
    <h5>If you want to share your knowledge or learn something new, you are welcome to our community.</h5>
</div>
