@using EducationHub.Web.Infrastructure.Extensions
@using EducationHub.Web.ViewModels.Administration.Courses
@model PagingCoursesAdminViewModel

@{
    ViewData["Title"] = "Courses";
}

<h1 class="center light-green-text lighten-2">Courses</h1>

<p class="center">
    <a class="btn btn-small" asp-action="Create">Create New</a>
</p>
@if (!Model.Courses.Any())
{
    <h4 class ="center light-green-text lighten-2">There are no courses yet!</h4>
}
else
{
    <table class="responsive-table striped centered highlight light-green lighten-2">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    User
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
                <th>
                   IsDeleted
                </th>
                <th>
                    DeletedOn
                </th>
                <th>
                    CreatedOn
                </th>
                <th>
                    ModifiedOn
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => course.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.UserUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.CategoryName)
                    </td>
                    <td>

                        @course.Description.ToShortString()
                    </td>
                    <td>
                        @if (course.IsDeleted == false)
                        {
                            @:No
                        }
                        else
                        {
                            @:Yes
                        }
                    </td>
                    <td>
                        @if (course.DeletedOn == null)
                        {
                            @:No record
                        }
                        else
                        {
                            <time datetime="@course.DeletedOn.ToStringLocal()"></time>
                        }
                    </td>
                    <td>
                        <time datetime="@course.CreatedOn.ToStringLocal()"></time>
                    </td>
                    <td>
                        @if (course.ModifiedOn == null)
                        {
                            @:No record
                        }
                        else
                        {
                            <time datetime="@course.ModifiedOn.ToStringLocal()"></time>
                        }
                    </td>
                    <td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@course.Id" class="btn-small blue waves-effect waves-light">Edit</a>
                        <a asp-action="Delete" asp-route-id="@course.Id" class="btn-small red waves-effect waves-light">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<partial name="_PagingPartial" />
