@using EducationHub.Web.ViewModels.Lessons
@model IEnumerable<ByCategoryLessonViewModel>
@{
    ViewData["Title"] = "Lessons";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<div class="row">
    @foreach (var course in Model)
    {
        <div class="card col l4 s12 m12 offset-l1">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator responsive-img" src="~/Images/office.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">@course.Title<i class="material-icons right">more_vert</i></span>
                <div>
                    <span><i class="material-icons left green-text">event_note</i> Created on: @course.CreatedOn.ToStringLocal()</span>
                </div>
                <div>
                    <span><i class="material-icons left green-text">person</i>Crated by: @course.UserUsername</span>
                </div>
                <p><a asp-action="Details" asp-route-id="@course.Id">Details</a></p>
            </div>
            <div class="card-reveal flow-text">
                <span class="card-title grey-text text-darken-4">@course.Title<i class="material-icons right">close</i></span>
                <p class="flow-text">@Html.Raw(course.SanitizedContent)</p>
            </div>
        </div>
    }
</div>