@using EducationHub.Web.Infrastructure.Extensions
@using EducationHub.Web.ViewModels.Administration.Lessons
@model PagingLessonsAdminViewModel
@{
    ViewData["Title"] = "Lessons";
}

<h1 class="center light-green-text lighten-2">Lessons</h1>

<p class="center">
    <a class="btn btn-small" asp-area="" asp-controller="Lessons" asp-action="Create">Create New</a>
</p>
@if (!Model.Lessons.Any())
{
    <h4 class="center light-green-text lighten-2">There are no lessons yet!</h4>
}
else
{
    <table class="responsive-table striped centered highlight light-green lighten-2">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    User
                </th>
                <th>
                    Category
                </th>
                <th>
                    Video Url
                </th>
                <th>
                    IsDeleted
                </th>
                <th>
                    DeletedOn
                </th>
                <th>
                    CreatedOn
                </th>
                <th>
                    ModifiedOn
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lessons)
            {
                <tr>
                    <td>
                        @item.Title.ToShortString()
                    </td>
                    <td>
                        @item.UserUserName.ToShortString()
                    </td>
                    <td>
                        @item.CategoryName.ToShortString()
                    </td>
                    <td>
                        @item.VideoUrl.ToShortString()
                    </td>
                    <td>
                        @if (item.IsDeleted == false)
                        {
                            @:No
                        }
                        else
                        {
                            @:Yes
                        }
                    </td>
                    <td>
                        @if (item.DeletedOn == null)
                        {
                            @:No record
                        }
                        else
                        {
                            <time datetime="@item.DeletedOn.ToStringLocal()"></time>
                        }
                    </td>
                    <td>
                        <time datetime="@item.CreatedOn.ToStringLocal()"></time>
                    </td>
                    <td>
                        @if (item.ModifiedOn == null)
                        {
                            @:No record
                        }
                        else
                        {
                            <time datetime="@item.ModifiedOn.ToStringLocal()"></time>
                        }
                    </td>
                    <td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Lessons" asp-action="Edit" class="btn-small blue waves-effect waves-light">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Lessons" asp-action="Delete" class="btn-small red waves-effect waves-light">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (this.Model.ItemsCount > this.Model.ItemsPerPage)
{
    <ul class="pagination center">
        @if (Model.PagesCount > 4)
        {
            <li>
                <a asp-action="All" asp-route-page="1"><i class="fas fa-angle-double-left"></i></a>
            </li>
        }
        <li class="@if (!Model.HasPreviousPage) {
    <text>disabled</text>
 }">
                    <a asp-action="All" asp-route-page="@Model.PreviousPageNumber"><i class="material-icons">chevron_left</i></a>
        </li>
        @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="waves-effect"><a asp-action="All" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="waves-effect green lighten-2 active">
            <a>
                @Model.PageNumber
            </a>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="waves-effect"><a asp-action="All" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="waves-effect @if (!Model.HasNextPage) {
    <text>disabled</text>
 }">
                    <a asp-action="All" asp-route-page="@Model.NextPageNumber"><i class="material-icons">chevron_right</i></a>
        </li>
        @if (Model.PagesCount > 4)
        {
            <li>
                <a asp-action="All" asp-route-page="@Model.PagesCount"><i class="fas fa-angle-double-right"></i></a>
            </li>
        }
    </ul>
}
