@using EducationHub.Web.ViewModels.Categories
@model IEnumerable<CategoriesAllViewModel>
@{
    ViewData["Title"] = "Categories";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<div class="row">
    @foreach (var category in this.Model)
    {
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="@category.PictureUrl" height="300">
                    <span class="card-title">@category.Name</span>
                </div>
                <div class="card-action light-green lighten-4">
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id">@category.Name</a>
                </div>
            </div>
        </div>
    }
</div>
