@model EducationHub.Web.ViewModels.Courses.EditCourseViewModel
@{
    ViewData["Title"] = "Edit course";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>
<h3 class="center light-green-text lighten-2">@Model.Title</h3>

@if (this.TempData.ContainsKey("Message"))
{
    <div class="col s6 l6 center green-text"><strong>@TempData["Message"]</strong></div>
}

<ul class="collection green-text">
    <li class="collection-item">
        Add new lesson
        <a asp-action="CreateLesson" asp-route-id="@Model.Id" class="btn btn-small btn-floating right li-btn light-green accent-4 waves-effect waves-light">
            <i class="material-icons">
                add
            </i>
        </a>
    </li>
    @foreach (var lesson in Model.Lessons)
    {
        <li class="collection-item">
            @lesson.Title
            <a href="#modal" data-value="@lesson.Id" class="btn btn-small btn-floating right li-btn red darken-3 waves-effect waves-red modal-trigger">
                <i class="material-icons">clear</i>
            </a>
            <a asp-area="" asp-action="EditLesson" asp-route-id="@lesson.Id" class="btn btn-small btn-floating right li-btn waves-effect waves-light">
                <i class="material-icons accent-4">edit</i>
            </a>
        </li>
    }
</ul>


<div id="modal" class="modal bottom-sheet grey lighten-2">
    <div class="modal-content">
        <h4 class="center red-text">Confirm delete!</h4>
        <h6 class="center red-text">Do you want to delete this resource?</h6>
    </div>
    <div class="modal-footer grey lighten-2">
        <a id="delete" class="modal-close waves-effect waves-green btn-flat red-text">Delete</a>
    </div>
</div>

@section Scripts{
    <script src="~/js/modal.js"></script>
    <script src="~/js/confirmDelete.js"></script>
}