@using static EducationHub.Data.Common.Validations.DataValidation.Lesson

@model EducationHub.Web.ViewModels.Courses.EditLessonInCourseViewModel
@{
    ViewData["Title"] = "Edit Lesson";
}

<h2 class="center light-green-text lighten-2">Course: @Model.CourseTitle</h2>
<h4 class="center light-green-text lighten-2">Lesson: @Model.Title</h4>

<partial name="_TinyMCEPartial" />
<div class="row">
    <div class="col s6 center offset-s3">
        <form method="post">
            <input asp-for="UserId" type="hidden" />
            <input asp-for="Id" type="hidden" />
            <input asp-for="CategoryId" type="hidden" />
            <input asp-for="CourseId" type="hidden" />
            <div class="center red-text" asp-validation-summary="All"></div>
            <div class="input-field">
                <label asp-for="@Model.CategoryName"></label>
                <input asp-for="@Model.CategoryName" readonly />
            </div>
            <div class="input-field">
                <input asp-for="Title" class="validate character-counter" data-length="@TitleMaxLength">
                <label asp-for="Title"></label>
                <span asp-validation-for="Title" class="red-text center"></span>
            </div>
            <div class="input-field">
                <input asp-for="VideoUrl" class="validate character-counter" data-length="@VideoUrlMaxLength">
                <label asp-for="VideoUrl"></label>
                <span asp-validation-for="VideoUrl" class="red-text center"></span>
            </div>
            <div class="input">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="red-text center"></span>
            </div>
            <div>
                <button type="submit" class="btn waves-effect waves-light lighten-2 light-green">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/charactersCounter.js"></script>
}