@using EducationHub.Web.Infrastructure.Extensions
@model EducationHub.Web.ViewModels.Forum.Home.HomePageViewModel
@{
    ViewData["Title"] = "Education Hub Forum";
}

<h1 class="center light-green-text lighten-2">@ViewData["Title"]</h1>

<div class="row">
    <div class="center">
        <a asp-controller="Posts" asp-action="Create" class="btn">New post</a>
    </div>
    <div class="col s12 l5 offset-l1">
        <h4 class="center light-green-text lighten-2">Categories</h4>
        <ul class="collection">
            @foreach (var category in Model.Categories)
            {
                <li class="collection-item avatar">
                    <a asp-controller="Posts" asp-action="ByCategory" asp-route-id="@category.Id">
                        <img src="@category.PictureUrl" class="circle">
                    </a>
                    <a asp-controller="Posts" asp-action="ByCategory" asp-route-id="@category.Id"><span class="title orange-text lighten-1">@category.Name</span></a>
                    @if (category.PostsCount > 0)
                    {
                        <a asp-controller="Posts" asp-action="ByCategory" asp-route-id="@category.Id">
                        @if (category.PostsCount == 1)
                        {
                            <span class="right orange-text lighten-1">@category.PostsCount - post.</span>
                           
                        }
                        else
                        {
                            <span class="right orange-text lighten-1">@category.PostsCount - posts.</span>
                        }
                        </a>
                    }
                    else
                    {
                        <span class="right orange-text lighten-1">No posts yet.</span>
                    }
                </li>
            }
        </ul>
    </div>
    <section class="col s12 l5 offset-l1">
        <h4 class="center light-green-text lighten-2">Latest posts</h4>
        @if (Model.Posts.Any())
        {
            @foreach (var post in Model.Posts)
            {
                <article class="collection-item index-post">
                    <div class="head-post">
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id"><h6 class="left margin-left light-green-text lighten-2">@post.Title.ToShortString()</h6></a>
                        <a asp-controller="Posts" asp-action="ByCategory" asp-route-id="@post.CategoryId"><h6 class="center light-green-text lighten-2">@post.CategoryName</h6></a>
                        <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId">
                            <img src="@post.UserPictureUrl" class="circle" height="50">
                        </a>
                        <div class="col margin center">
                            <a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@post.UserId" class="orange-text lighten-1">@post.UserUserName.ToShortString()</a>
                        </div>
                        <p class="right">
                            <i class="material-icons left orange-text lighten-1">event_note</i><time datetime="@post.CreatedOn.ToStringLocal()" class="orange-text lighten-1"></time>
                    </div>
                </article>
            }
        }
        else
        {
            <h5 class="center light-green-text lighten-2">There are no posts</h5>
        }
    </section>
</div>
